<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body style="text-align: center">
    <br />
    <br />
    <h2>Todo App</h2>
    <br />
    <br />
    <form>
      <!-- <label for="price">Choose Price</label>
      <input type="text" id="price" /> -->
      <label for="dish">Enter a Todo</label>
      <input type="text" id="todo" />
      <label for="category">Choose Category</label>
      <input type="text" id="category" />
      <br />
      <br />

      <input type="submit" value="Submit Your todo" id="submit" />
    </form>
    <br />
    <br />
    <p>Your Todo</p>
    <br />
    <br />
    <div id="display"></div>
    <script src="js/script.js"></script>
  </body>
</html>
